main{
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg,#f9eabf,#bc7d58);
}
.container{
  background: linear-gradient(270deg,rgba(249,170,33,.2),hsla(0,0%,100%,0) 33.27%),#fff;
  height: 97vh;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}
.container img{
  position: absolute;
  top: 35%;
  left: 0;
  width: 500px;
}
.container .cup{
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation{
  to{
    transform: rotate(360deg);
  } 
}
.container .title{
  font-size: 3rem;
  font-weight: 500;
  color: rgb(100,50,50);
}
.container .title span{
  color: #450A0A;
  font-size: 3.5rem;
  font-weight: 700;
}
.container .desc{
  font-size: 1.2rem;
  width: 180px;
}
.container .button{
  background: linear-gradient(90deg,#198754 ,#32a06d,#198754);
  color: #eee;
  border-radius: 50px;
  text-align: center;
  align-content: center;
  width: 200px;
  height: 55px;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 20px;
  box-shadow: 0px 1px 2px 1px #000;
}
.container .button:hover{
  box-shadow: none;
}