:root{
  --main-color:rgb(111,73,27);
  --mmain-color:rgb(70,40,0);
  --mmain-color:rgb(80,50,50);
  --mmain-color:rgb(45,15,0);
  --text-color:#13131a;
  --bg:#fff;
  --border:.1rem solid rgba(5,5,5,.3);
  
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: rgb(13,110,253);
    --bs-secondary-rgb: rgb(108,117,125);
    --bs-success-rgb: rgb(25,135,84);
    --bs-info-rgb: rgb(13,202,240);
    --bs-warning-rgb: rgb(255,193,7);
    --bs-danger-rgb: rgb(220,53,69);
    --bs-light-rgb: rgb(248,249,250);
    --bs-dark-rgb: rgb(33,37,41);
    --bs-white-rgb: rgb(255,255,255);
    --bs-black-rgb: rgb(0,0,0);
    --bs-body-color-rgb: rgb(33,37,41);
    --bs-body-bg-rgb: rgb(255,255,255);
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    }

*{
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;
   direction: rtl;
  }
html{
  --font-size: 62.5%;
  font-size: 16px;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
    }
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background:transparent;
}
html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius:5rem;
    }
body{
  font-family: 'Roboto',Sans-Serif;
  padding: 6px 0;
  background:var(--bg);
    }

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;right: 0;left: 0;
  z-index: 100;
  font-size: 1.2rem;
  height: 60px;
  padding:0 1rem;
  background-color: #fff;
}
.header .container{
  height: 100%;
}
.header .container a{
  height: 100%;
  width: 3.2rem;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 5px;
}
.header .logo{
  height: 100%;
  align-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -2px;
  color: var(--main-color);
}
.header .header-search-form input{
  position: absolute;
  top: 65px;
  right: 40%;
  left: 2rem;
  height: 3rem;
  border: .1px solid #000;
  border-radius: 2px;
  padding: 0 .5rem;
  transform: scaleY(0);
}
.header form input.active{
  transform: scaleY(1);
}

.header .menu-bar{
  position: fixed;
  top: 61px;
  right: -100%;
  z-index: 100;
  height: calc(100vh - 9.5rem);
  width: 15.625rem;
  padding: .5rem;
  background-color: #eee;
}
.header .menu-bar.active{
  right: 0;
}
.header .menu-bar .minue-bar-logo{
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: var(--main-color);
  margin: 1rem auto;
}
.header .menu-bar .menu-search-form{
  display: flex;
  align-items: center;
}
.header .menu-bar .menu-search-form input{
  width: 100%;
   height: 2rem;
   padding-right: .5rem;
   border-radius: 2px;
}
.header .menu-bar nav{
   padding: 1rem 0;
}
.header .menu-bar nav .link{
   color: var(--text-color);
   padding: .5rem 0;
   display: block;
   position: relative;
   
}
.header .menu-bar nav .link::after{
  content: "";
   position: absolute;
   top: 35%;
   left: 0;
   height: 0px;
   width: 0px;
   border: 10px solid;
   border-top-color: transparent;
   border-right-color: transparent;
   border-bottom-color: transparent;
   border-left-color: var(--main-color);
   visibility: hidden;
   transition: .7s left;
}
.header .menu-bar nav .link:hover{
   color: var(--main-color);
}
.header .menu-bar nav .link:hover::after{
   visibility: visible;
   left: 15px;
}
.header .menu-bar nav .button{
  display: block;
  text-align: center;
  width: 180px;
  margin: 1rem auto;
  padding: .5rem;
  background-color: var(--main-color);
  color: #fff;
  border: var(--border);
  border-radius: 5px;
  box-shadow: 1px 3px 3px 2px #0009;
  transition: 0.1s;
}
.header .menu-bar nav .button:hover{
  box-shadow: 0px 0px 0px;
}

.header .cart-items-container{
  position: fixed;
  top: 61px; left: -100%;
  z-index: 100;
  height: calc(100vh - 9.5rem);
  width: 20.625rem;
  background: #eee;
  padding: 0 1.5rem;
}
.header .cart-items-container.active{
  left: 0;
}
.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  top: -.6rem;right: -.6rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover{
  color: var(--main-color);
}
.header .cart-items-container .cart-item img{
  height: 4rem;
}
.header .cart-items-container .cart-item .content h3{
  font-size: 1.5rem;
  color: var(--black);
  padding-bottom:.5rem;
}
.header .cart-items-container .cart-item .content .price{
  font-size: 1.2rem;
  color: var(--main-color);
}
.header .cart-items-container .btn{
  display: block;
  text-align: center;
  width: 180px;
  margin: 1rem auto;
  padding: .5rem;
  background-color: var(--main-color);
  color: #fff;
  border: var(--border);
  border-radius: 5px;
  box-shadow: 1px 3px 3px 2px #0009;
  transition: 0.1s;
}
.header .menu-bar nav .button:hover{
  box-shadow: 0px 0px 0px;
}


.interface{
  background:#eee url('large-canvas-bags-up-top-filled-with-dried-cocoa-beans_124507-54782.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 550px;
  margin-bottom: 50px;
}



.section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px;
  margin: 20px 20px;
  border: var(--border) ;
}
.section .title{
  margin: 20px 0;
  font-size: 2rem;
  color: var(--main-color);
  
}
.section .products{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14rem,1fr)) ;
  gap: 30px 20px;
  
}
.section .products .product{
  text-align: center;
  
}
.section .products .product:hover img{
  transform: scale(1.1);
}

.section .products .product .img-container{
  overflow: hidden;
}
.section .products .product .img-container img{
  width: 100%;
  transition: .5s;
}
.section .products .product .desc .product-name{
  font-size:1.3rem;
  font-weight: 100;
}
.section .products .product .desc .price{
  text-transform: uppercase;
  font-size:1rem;
  font-weight: 400;
  margin: 5px;
}
.section .products .product .desc .add-btn{
  background-color: var(--bg);
  padding: 10px 20px;
  margin: 10px;
  font-size:1rem;
  font-weight: 400;
  border: var(--border);
  animation-iteration-count: infinite;
}






@media (max-width:340px){
  html{
    font-size: 8px;
  }
}
@media (min-width:341px) and (max-width:640px){
  html{
    font-size: 12px;
  }
}